@import "/src/colors.css";

.profile {
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px
}

.profileUserInfo {
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: auto;
  padding-top: 9px;
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.profileAvatar {
  width: 100px;
  height: 100px;
  min-width: 100px;
  margin-right: 31px;
  margin-top: 5px;
  background-size: 26px 26px
}

.userAvatar-link:focus,
.userAvatar-link:hover {
  opacity: .7
}

.userAvatar-link:active {
  opacity: .3
}

.userAvatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e2e8f7;
  border-radius: 50%;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center
}

.userPicture {
  display: block;
  border-radius: 50%
}

.feedPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  justify-content:center;
  margin-bottom: 18px;
  width: 100%;
  min-height: 50vh;
  border-radius: 50%;
  background-size: 102px 115px;
  background-repeat: no-repeat;
  background-position: center 150px;
}

.graficBox{
  margin: 100px;
  padding-left: 30px;
  margin-top: 0;
}

.graficHeader{
  margin-top: 30px;
  margin-left: 30px;
}

.h1Style{
  font-size: 40px;
  align-items: flex-start;
  margin-left: 270px;
}

.pieBox{
  margin: 50px;
  margin-top: 0;
}

.pie{
  max-height: 400px;
}

.post {
  border: 1px solid #dee5fc;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 40px 0 rgba(46, 91, 255, .09);
  box-shadow: 0 15px 40px 0 rgba(46, 91, 255, .09);
  width: 1200px;
  margin-right: 40px;
  margin-bottom: 41px;
}

.post:nth-child(3n) {
  margin-right: 0;
}

.post h2 {
  padding: 14px 24px 0;
  font-size: 20px;
  text-align: center;
}

.post h2:focus,
.post h2:hover {
  opacity: .8;
}

.post h2:active {
  opacity: .6;
}

.post .postAuthor {
  padding: 25px 26px;
  border-bottom: 1px solid #dee5fc;
}

.post .postIndicatorIcon {
  top: -1px;
}

.post .postMain p {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0;
  padding: 0 25px;
  font-size: 16px;
  line-height: 1.3;
}

.post .postTextMoreLink {
  margin: 2px 24px -4px;
}

.post .postPhotoImageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: -1px;
  margin-left: -1px;
}

.profileTabsWrapper {
  background-color: #f4f6fc;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px
}

.profileTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 250px;
  padding-top: 34px;
  padding-bottom: 21px;
  font-size: 37px;
}

.profileTabsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.profileTabsCaption {
  margin-right: 28px;
  margin-bottom: 14px;
  margin-left: -1px
}

.profileTabsItem {
  margin-right: 6px;
  margin-bottom: 15px
}

.profileTabsLink {
  padding-top: 17px;
  padding-bottom: 15px;
  letter-spacing: .8px;
  padding-right: 33px;
  padding-left: 31px;
  color: rgba(46, 56, 77, .2);
  color: rgba(46, 56, 77, .4);
  background-color: #cdd4e8;
  border-radius: 25px;
  border: none;
  -webkit-box-shadow: 0 10px 20px 0 rgba(46, 91, 255, .07);
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, .07);
  font-size: 30px;
}

.profileTabsLink:not(.filtersButtonActive):hover {
  color: rgba(46, 56, 77, .9);
  background-color: #cdd4e8
}

.profileTabsLink:not(.filtersButtonActive):focus {
  background-color: #fff;
  color: #000;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none
}

.filtersList {
  margin: 0;
  padding: 0;
  list-style: none
}

.filtersItem {
  position: relative
}

.filtersCaption {
  margin-right: 35px;
  letter-spacing: .8px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase
}

.filtersButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 17px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(46, 56, 77, .3);
  background-color: rgba(205, 212, 232, .6);
  border-radius: 50%;
}

.filtersButtonActive{
  background-color: #fff;
  color: #000;
}





