.backWrapper {
    margin-bottom: 15px;
    margin-left: -15px;
}

.back {
    position: relative;
    padding: 15px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
        olor: #FFD000;
    }

    to {
        margin-left: 0%;
        width: 100%;
        color: #2E384D;
    }
}

.back:hover::before {
    transform: translateX(-20px);
}

.back::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -88px;
    width: 90px;
    height: 86px;
    background-image: url("../../img/rocket1.png");
    cursor: pointer;
    background-size: cover;
    transition: 500ms;
}