:root {
  --light-white_footer: rgba(255, 255, 255, .1);
  --light-white_form: rgba(255, 255, 255, .2);
  --light-white_btn: rgba(255, 255, 255, .3);
  --light-white_post: rgba(255, 255, 255, .5);
  --light-white_text: rgba(255, 255, 255, .7);
  --light-pirple_btn: rgba(206, 109, 242, .15);
  --light-pink_btn: rgba(255, 113, 150, .15);
  --light-orange_form: rgba(255, 85, 0, .15);
  --light-orange_btn: rgba(255, 139, 46, .15);
  --light-yellow_btn: rgba(255, 198, 0, .15);
  --light-greeen_btn: rgba(99, 222, 0, .15);
  --light-blue_btn: rgba(205, 212, 232, .6);
  --light-blue_active: rgba(46, 91, 255, .07);
  --light-blue_post: rgba(46, 91, 255, .09);
  --light-blue_hover-focus: rgba(185, 195, 223, .6);
  --blue_header: rgba(34, 67, 199, .6);
  --light-grey_modal: rgba(88, 102, 154, .2);
  --grey_post: rgba(135, 152, 173, .3);
  --grey_comment: rgba(68, 68, 68, .3);
  --grey_form: rgba(137, 140, 152, .6);
  --grey_modal: rgba(46, 56, 77, .1);
  --grey_input: rgba(46, 56, 77, .15);
  --grey_active: rgba(46, 56, 77, .2);
  --grey_primary: rgba(46, 56, 77, .3);
  --dark-grey_hover: rgba(46, 56, 77, .4);
  --dark-grey_btn: rgba(46, 56, 77, .5);
  --dark-grey_active: rgba(46, 56, 77, .7);
  --light-black_hover-focus: rgba(0, 0, 0, .07);
  --light-black_active: rgba(0, 0, 0, .08);
  --light-black_post: rgba(0, 0, 0, .3);
  --light-black_modal: rgba(0, 0, 0, .5);
  --white: #fff;
  --white_background: #f4f6fc;
  --pink_btn: #ff7196;
  --red_btn: #fe4545;
  --red_form: #f02323;
  --dark-red_form: #e61818;
  --orange_btn: #ff8b2e;
  --dark-orange_form: #f5722a;
  --light-yellow_message: #f2fae4;
  --yellow_btn: #ffc600;
  --greeen_btn: #63de00;
  --dark-green_hover-focus: #5aca00;
  --light-blue_comment: #f2f4f9;
  --light-blue_message: #ebeff8;
  --light-blue_background: #e2e8f7;
  --light-blue_primary: #dee5fc;
  --light-blue_hover: #d0d9f5;
  --blue_quote: #a9c5ff;
  --blue_primary: #3e5dde;
  --blue_hover-focus: #2a4ad0;
  --blue_indicator: #304ecc;
  --pirple_btn: #ce6df2;
  --light-grey_post: #eff1f8;
  --light-grey_hover-focus: #ebf0f9;
  --grey_hover-focus: #e0e3ea;
  --grey_background: #cdd4e8;
  --dark-grey_primary: #8798ad;
  --dark-grey_label: #898c98;
  --dark-grey_hover-focus: #777b8a;
  --dark-grey_сomment-btn: #444444;
  --dark_primary: #2e384d;
  --black_hover-focus: #1f2737;
  --black_icon: #192144;
  --black: #000;
}