@import "/src/colors.css";

.pageMain {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: no-repeat center url("../../img/background-main-page.png");
  background-size: cover;
}

.intro {
  max-width: 606px;
}

.introSlogan {
  display: block;
  margin-top: 9px;
  margin-bottom: 76px;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1.8px;
  font-weight: 500;
  color: #fff;
}


.introAdvantagesList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.introAdvantage {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.introAdvantageEase {
  background-image: url("../../img/everything.svg");
  background-size: 86px 36px;
  background-position: 1px 13px;
}

.introAdvantageNoExcess {
  background-image: url("../../img/no-games.svg");
  background-size: 70px 58px;
  background-position: 0 0;
}

.introAdvantageText {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.35;
  color: #f9ce07;
  margin-left: 10px;
}